---
lang: zh
layout: page
sorted: 0
---

<div style="padding: 40px; text-align: center;">
  <img src="/assets/img/banner.png" style="width:100%;height:auto" />
  <h1>
    欢迎加入 KDE 中国社区
  </h1>
  <p>
    与志同道合的开源爱好者一道，参与 KDE 软件的本地化和推广。
  </p>
</div>

{% include blog.html %}
